
.todo-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    gap: 20px;
  }
  
  .todo-input .form-control {
    flex-grow: 1;
  }
  
  .todo-button {
    margin-left: 10px;
  }
  

  .btns {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .btns .btn {
    padding: 8px 20px;
    font-size: 16px;
  }
  
 
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 10px auto;
  }
  
  .todo-list-item {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .todo-icons {
    display: flex;
    gap: 10px;
  }
  
  .todo-icons .edit-icon, .todo-icons .delete-icon {
    cursor: pointer;
    font-size: 20px;
  }
  
  .todo-icons .edit-icon:hover {
    color: blue;
  }
  
  .todo-icons .delete-icon:hover {
    color: red;
  }
  
 
  .todo-item .form-check-input {
    margin-right: 15px;
  }
  