.container{
 max-width: 1200px;
margin: 0 auto;
}


.product-card img{
    width: 250px;
    height: 400px;
    margin-top: 15px;
    margin-left: 25px;

}

#ht{
    border: 1px solid lightgreen;
    width: 100px;
    height: 70px;
    color: white;
    background-color: rgb(13, 202, 13);
    border-radius: 10%;
    margin-left: 5px;
}

#kp{
    border: 1px solid rgb(0, 0, 0);
    width: 100px;
    height: 70px;
    color: white;
    background-color: black;
    border-radius: 10%;
    margin-left: 5px;
}

h3{
    color: orange;
}

.products #id{
    margin-left: 50px;
}
.products .product-card{
    border: 1px solid;
    padding: 20px;
    border-radius: 5%;
}
.product-card{
    position: relative;

}
.product-card #heart {
    position:absolute;
    right: 5px;
    top: 1rem;
}

.products{
    width: 80vh;
    height: 80vh;
    display: flex;
    justify-content: space-between;
   gap: 20px;
}